h2 + p {
    color: red;
}

#logo {
    height: 70px;
}

.nav {
    list-style: none;
}

.nav li {
    display: inline-block;
}

.nav li a{
    padding: 5px;
    text-decoration: none;
    color: black;
}